*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--cream-50);
  font-family: var(--font-main);
  font-size: var(--text-body);
  font-weight: 400;
  color: var(--brown-900);
}

main {
  min-height: 100vh;
}
