:root {
  --brown-900: hsl(17, 51%, 12%);
  --cream-50: hsl(33, 38%, 94%);
  --blue-300: hsl(202, 60%, 79%);

  --font-main: "Manrope", Arial, Helvetica, sans-serif;
  --font-accent: "Adobe Jenson Pro Display", serif;

  --text-body: 1rem;
  --text-md: 1.25rem;

  --sp-50: 0.5rem;
  --sp-75: 0.75rem;
  --sp-100: 1rem;
  --sp-125: 1.25rem;
  --sp-150: 1.5rem;
  --sp-200: 2rem;
  --sp-300: 3rem;
  --sp-400: 4rem;
  --sp-500: 5rem;
}
